.clearFix:before {
  content: " ";
  display: table;
}
.clearFix:after {
  content: " ";
  clear: both;
}
.home__hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.row:before {
  content: " ";
  display: table;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}

.needs__dash:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -10px;
  height: 2px;
  width: 40px;
  background-color: #ff2222;
}
.listing__img:before {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(22, 22, 23, 0) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0;
  opacity: 1;
}

.featimage__overlay:before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, transparent 7%, #1a1d2b);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  opacity: 1;
  border-radius: 6px;
}
